@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --hoverColor: #9D5CD0;
  --tapColor: #7943A4;
  --grey: #333333;
}


/* ---------------------header--------------------- */

.header {
  background-color: var(--black);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header_first {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  min-width: 894px;
  padding: 0;
  margin: 0;
}

ul {
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.menu__list_item {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu__list_item_link:active {
  color: red;
}


/* .menu__list_item:focus-visible {
  outline: var(--tapColor) auto 1px;
} */

.menu__list_item:last-child {
  margin-right: 0;
}

.menu__list_item_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.51px;
  text-decoration: none;
  color: var(--white);
  transition: .2s ease-in-out;
}

.menu__list_item_link:hover {
  color: var(--hoverColor);
}

.login {
  display: inline;
  height: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.51px;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  transition-property: color, fill;
  transition-duration: .2s;
  transition-timing-function: ease;
}

.login_hover:hover {
  color: var(--hoverColor);
}

.login:hover path {
  fill: var(--hoverColor);
  transition: fill .2s ease;
}